@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fa-caret-down:before {
    content: "\f0d7"
}

.fa-search:before {
    content: "\f002"
}

body {
    margin: 0;
    /*font-family: sans-serif, Arial, Helvetica;*/
}

/* The navigation bar */
.navbar {
    /*overflow: hidden; */ /* do not use it because dropdown*/
    background-color: #333;
    opacity: 0.75;
    position: fixed;
    top: 0;
    width: 100%;
}

/* The dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
}

/* Links inside the navbar */
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change background on mouse-over */
.navbar a:hover, .dropdown:hover .dropbtn {
    background: #ddd;
    color: black;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Style the search box inside the navigation bar */
.navbar .search-container {
    float: right;
}

.navbar input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}

.navbar .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.navbar .search-container button:hover {
    background: #ccc;
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
    .navbar .search-container {
        float: none;
    }
    .navbar a, .navbar input[type=text], .navbar .search-container button {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }
    .navbar input[type=text] {
        border: 1px solid #ccc;
    }
}

/* Main content */
.main {
    padding: 16px;
    margin-top: 30px; /* Add a top margin to avoid content overlay */
    margin-bottom: 30px; /* Add a bottom margin to avoid content overlay */
}

body #container {
    background-color: black;
    opacity: 0.2;
    width: 600px;
    height: 300px;
    margin: 0 auto;
    margin-top: 200px;
    border-radius: 20px;
}

body #header {
    height: 140px;
    text-align: center;
    margin: 0px;
}

body #header-content {
    color: white;
    height: 75px;

}

body #header-content a {
    font-family: "楷体";
    color: white;
    text-decoration: none;
    font-size: 22px;
    letter-spacing: 10px;
}

body #header-content a:hover {
    text-decoration: underline;
}

body #header-content p {
    font-size: 15px;
}

body #content {
    height: 90px;
    margin: 0px;
    text-align: center;
    vertical-align: middle;
}

body #content #main-content a {

    color: white;
    text-decoration: none;
}

body #content #main-content a:hover {
    text-decoration: underline;
    color: white;
}

body #footer hr2 {
    margin-top: 300px;
}

body #footer #footer-content button {
    border: 0;
    background-color: #000000;
    font-size: 20px;
    border-radius: 10px;
    float: right;
    margin-right: 25px;
}

body #footer #footer-content button a {
    color: #f2f2f2 !important;
    text-decoration: none;
}

body #footer #footer-content button a:hover {
    color: white !important;
    text-decoration: underline;
}

/* The footer bar */
.footer {
    position: fixed; /* Set the footer bar to fixed position */
    bottom: 0; /* Position the footer bar at the bottom of the page */
    width: 100%; /* Full width */
    background-color: #333;
    opacity: 0.75;
    text-align: center;
    padding: 8px;
}

.footer span {
    color: #f2f2f2 !important;
    font-size: 14px;
    text-align: center;
    padding: 14px 16px;
}

/* The scrolling text */
.marquee-container {
    padding: 0px 16px 0px 0px;
    height: 48px;
    float: right;
}

marquee {
    width: 100%;
    padding: 15px 0;
    color: #f2f2f2 !important;
}